<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.enel.hackday.group13"
        versionCode = "1"
        version     = "0.1.0">
 
    <access origin="*.google.com"/>
    <access origin="*.googleapis.com"/>
    <access origin="https://www.enelenergia.it" />
    <access origin="http://maps.google.com" />
    <access origin="http://maps.googleapis.com" />
    <access origin="*" />
    <access uri="*"/>
 
    <name>Apparecchi2</name>
 
    <description>
        An electric device control application
    </description>
 
    <author href="http://www.enel.com" email="not-available@enel.com">
        Enel S.p.A.
    </author>
    
 
    <!--
    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/contacts"/>
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>
    -->
 
</widget>